<div class="contact">
  <div class="contact_back">
    <%= image_tag 'top_jp_background.png', class: "session_en_background" %>
  </div>
	<div class="contact_message">
	  お問い合わせ
	</div>
	<div class="contact_form">
    このウェブサイトに関して
		などなど
  </div>
</div>