// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contact_back {
	position: relative;
	width: 100vw;
	height: 100vh;
	top: 0%;
	left: 0%;
	filter: opacity(70%);
}
@mixin contact($color,$size) {
	color: $color;
	font-size: $size;
}
.contact_form {
	position: absolute;
	width: 50%;
  height: 40%;
  margin: 60px auto 0;
  border-radius: 10px;
	border: double rgb(255, 255, 255);
	background-color: rgb(255, 255, 255);
	top: 20%;
	left: 25%;
	filter: opacity(90%);
}

.contact_message {
	position: absolute;
	top: 30%;
	width: 50%;
	left: 25%;
	text-align: center;
}
.contact_message_main {
	@include contact(navy,2vh);
	//border: solid rgba(0, 0, 128, 0.712);

}
.contact_message_sub {
	@include contact(rgba(0, 0, 128, 0.747),1.5vh);
	padding-top: 5%;
	width: 80%;
	margin-top: 5%;
	margin-left: 10%;
	background-color: rgba(255, 255, 255, 0.596);
	text-align: center;
	border-bottom: solid rgba(0, 0, 128, 0.671);
}


