//ブレイクポイント
$breakpoints: (

	m: "only screen and (max-width: 980px)",
	//t: "only screen and (max-width: 1100px)",
	pc: "only screen and (max-width: 1199px)",
);
@mixin media($breakpoint) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
	
}

//ヘッダー 
//top_header

.jp_header {
	position: absolute;
	width: 100%;
	height: 90px;
	z-index: 1;
	background-color: transparent;
	display: flex;
	align-items: center;
	border-bottom: thick double rgba(0, 0, 128, 0.295);
	text-decoration: none;
	@include media(m) {
		height: 120px;
	}
}
.top_jp_icon {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 15%;
	height: 100%;
}

.top_jp_2_icon  {
	position: absolute;
	top: 0%;
	left: 42%;
	width: 10%;
	height: 100%;
	height: 100%;
}

.top_en_icon {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 15%;
	height: 100%;
	height: 100%;
	filter: opacity(0);
}

.top_en_2_icon  {
	position: absolute;
	top: 0%;
	left: 42%;
	width: 10%;
	height: 100%;
	height: 100%;
	filter: opacity(0);
}

.top_zh_icon {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 15%;
	height: 100%;
	filter: opacity(0);
}

.top_zh_2_icon {
	position: absolute;
	top: 0%;
	left: 42%;
	width: 10%;
	height: 100%;
	filter: opacity(0);
}

//en_header

.en_header {
	position: absolute;
	width: 100%;
	left: 0%;
	height: 90px;
	z-index: 1;
	background-color: transparent;
	display: flex;
	align-items: center;
	border-bottom: thick double rgba(255, 0, 0, 0.438);
	text-decoration: none;
	@include media(m) {
		height: 110px;
	}
}

.select_en_icon {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 15%;
	height: 100%;
	height: 100%;
	z-index: 3;
}

.select_en_2_icon  {
	position: absolute;
	top: 0%;
	left: 42%;
	width: 10%;
	height: 100%;
	height: 100%;
}

.en_aaa {
	text-decoration: none;
	color: red;
}

.header_title {
	position: absolute;
	left: 0%;
	z-index: 1;
	height: 2%;
	text-decoration: none;
}

.header_menu {
	position: absolute;
	z-index: 1;
	right: 2%;
	height: 2%;
	display: block;
	text-decoration: none;
}

.header_quest {
	position: absolute;
	margin: 1px;
	right: 80%;
}

.top_logout_path {
	position: absolute;
	position: fixed;
	top: 10%;
	right: 5%;
	padding: 1%;
	z-index: 1;
	margin: 1px;
	background-color: transparent;
}
.top_fil {
	filter: blur(3px);
}

//zh_header
.zh_header {
	position: absolute;
	width: 100%;
	height: 90px;
	z-index: 1;
	background-color: rgba(255, 255, 0, 0.1000);
	display: flex;
	align-items: center;
	border-bottom: thick double rgba(255, 255, 0, 0.452);
	text-decoration: none;
	@include media(m) {
		height: 110px;
	}
}

.select_zh_icon {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 19%;
	height: 100%;
	height: 100%;
}

.select_zh_2_icon  {
	position: absolute;
	top: 0%;
	left: 42%;
	width: 10%;
	height: 100%;
	height: 100%;
}

.zh_aaa {
	text-decoration: none;
	color: rgb(180, 180, 0);
}

.header_title {
	position: absolute;
	left: 0%;
	z-index: 1;
	height: 2%;
	text-decoration: none;
}

.header_menu {
	position: absolute;
	z-index: 1;
	right: 2%;
	height: 2%;
	display: block;
	text-decoration: none;
}

.header_quest {
	position: absolute;
	margin: 1px;
	right: 80%;
}

.top_logout_path {
	position: absolute;
	position: fixed;
	top: 10%;
	right: 5%;
	padding: 1%;
	z-index: 1;
	margin: 1px;
	background-color: transparent;
}
.top_fil {
	filter: blur(3px);
}
//select_zh_message
.select_zh_background {
	position: relative;
	width: 100vw;
	height: 100vh;
	left: 0%;
	top: 0%;
	filter: opacity(70%);
}

//ハンバーガーメニュー

.header_menu_message {
	text-decoration: none;
  font-size: 1.5rem;
	color: navy;
}

.header_title {
	position: absolute;
	left: 0%;
	z-index: 1;
	height: 2%;
	text-decoration: none;
}

.header_menu {
	position: absolute;
	z-index: 1;
	right: 2%;
	height: 2%;
	display: block;
	text-decoration: none;
}

.header_quest {
	position: absolute;
	margin: 1px;
	right: 80%;
}

.top_logout_path {
	position: absolute;
	position: fixed;
	top: 10%;
	right: 5%;
	padding: 1%;
	z-index: 1;
	margin: 1px;
	background-color: transparent;
}
.top_fil {
	filter: blur(3px);
	width: 100vw;
	height: 100vh;
}