// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.registration {
	width: 100vw;
	height: 100vh;

} 

.select_back {
	position: relative;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	filter: opacity(30%);
}

.private_form {
	position: absolute;
	width: 60%;
  height: 70%;
  margin: 60px auto 0;
  border-radius: 10px;
	border: double rgb(255, 255, 255);
	background-color: rgb(206, 224, 245);
	top: 10%;
	left: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	filter: opacity(90%);
}

.private_form_message {
	position: absolute;
	border-bottom: groove rgba(32, 32, 231, 0.603) 5px;
	top: 5%;
	display: flex;
	text-align: center;
}

input[type="text"] {
	position: absolute;
	width: 80%;
	height: 80%;
}

.nickname_form {
	position: absolute;
	top: 15%;
	width: 60%;
	left: 25%;
}

.age_form {
	position: absolute;
	top: 25%;
	width: 30%;
	left: 25%;
}

.nationality_form {
	position: absolute;
	top: 35%;
	width: 40%;
	left: 25%;
}

.nationality_select {
	position: absolute;
	top: 100%;
	width: 80%;
	border-radius: 10px;
}

.email_form {
	position: absolute;
	top: 45%;
	width: 60%;
	left: 25%;
}

input[type="email"] {
	width: 80%;
	height: 80%;
	border-radius: 10px;
}

.password_form {
	position: absolute;
	top: 55%;
	width: 60%;
	left: 25%;
}

.password_form_con {
	position: absolute;
	top: 65%;
	width: 60%;
	left: 25%;
}

input[type="text"] {
	position: absolute;
	width: 80%;
	height: 80%;
	border-radius: 10px;
}

input[type="password"] { 
	position: absolute;
	width: 80%;
	height: 80%;
	border-radius: 10px;
}

.sign_up_form {
	position: absolute;
	width: 30%;
	top: 75%;
	left: 45%;
	border-radius: 10px;
}