// Place all the styles related to the select_zh_language controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.zh_header {
	position: absolute;
	width: 100%;
	height: 70px;
	z-index: 1;
	background-color: rgba(255, 255, 0, 0.1000);
	display: flex;
	align-items: center;
	border-bottom: thick double rgba(255, 255, 0, 0.452);
	text-decoration: none;
}

.select_zh_icon {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 19%;
	height: 100%;
	height: 100%;
}

.select_zh_2_icon  {
	position: absolute;
	top: 0%;
	left: 42%;
	width: 10%;
	height: 100%;
	height: 100%;
}

.zh_aaa {
	text-decoration: none;
	color: rgb(180, 180, 0);
}

.header_title {
	position: absolute;
	left: 0%;
	z-index: 1;
	height: 2%;
	text-decoration: none;
}

.header_menu {
	position: absolute;
	z-index: 1;
	right: 2%;
	height: 2%;
	display: block;
	text-decoration: none;
}

.header_quest {
	position: absolute;
	margin: 1px;
	right: 80%;
}

.top_logout_path {
	position: absolute;
	position: fixed;
	top: 10%;
	right: 5%;
	padding: 1%;
	z-index: 1;
	margin: 1px;
	background-color: transparent;
}
.top_fil {
	filter: blur(3px);
}
//select_zh_message
.select_zh_background {
	position: relative;
	width: 100vw;
	height: 100vh;
	left: 0%;
	top: 0%;
	filter: opacity(70%);
}
//select_zh_message_@mixin
@mixin select_zh_message($position,$font_size,$font_color) {
	position: absolute;
	top: $position;
	text-align: center;
	font-size: $font_size;
	width: 100%;
	left: 0%;
	color: $font_color;
}
.select_zh_main_message {
	@include select_zh_message(25%,6vh,yellow);
}

.select_zh_sub_message {
	@include select_zh_message(33%,3vh,yellow);
}

.select_zh_sub_message::before {
	content:"";
	text-align: center;
	width: 60%;
	//min-width: 80%;
	left: 20%;
	height:2px;
  background-color: yellow;
	position:absolute;
  top:-2px;
}
//select_zh_path_@mixin
@mixin select_zh_path($z) {
	position: absolute;
	top: 85%;
	width: 10%;
	height: 5%;
	z-index: $z;
	border-right: solid 4px rgb(46, 46, 46);
	border-bottom: solid 4px rgb(46, 46, 46);
}
.login_zh_path {
	@include select_zh_path(1);
	left: 25%;
}

.login_zh_click_path {
	@include select_zh_path(0);
	left: 25%;
}

.registration_zh_path {
	@include select_zh_path(1);
	right: 25%;
}

.registration_zh_click_path {
	@include select_zh_path(0);
	right: 25%;
}

//ハンバーグメニュー
.zh_nov_toggle {
	display: block;
	position: relative;
	width: 1.75rem;
	height: 1.5rem;
}

.zh_nav_toggle i {
	display: block;
	width: 5%;
	height: 4px;
	right: 3%;
	background-color: rgb(180, 180, 0);
	position: absolute;
	transition: transform .5s, opacity .5s;
}
.zh_nav_toggle i:nth-child(1) {
	top: 30%;
}
.zh_nav_toggle i:nth-child(2) {
	top: 0;
	bottom: 0;
	margin: auto;
}
.zh_nav_toggle i:nth-child(3) {
	bottom: 30%;
}

.zh_nav_toggle.show i:nth-child(1) {
	transform: translateY(10px) rotate(-45deg);
}
.zh_nav_toggle.show i:nth-child(2) {
	opacity: 0;
}
.zh_nav_toggle.show i:nth-child(3) {
	transform: translateY(-12px) rotate(45deg);
}

.zh_nav {
	position: fixed;
	top: 3rem;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 1rem;
	opacity: 0;
	visibility: hidden;
	transition: opacity .5s, visibility .5s;
	z-index: 3;
}
.zh_nav.show {
	opacity: 1;
	visibility: visible;
	z-index: 3;
}

.zh_nav_menu_li {
	position: absolute;
	top: 25%;
	right: 25%;
	width: 50%;
	height: 20%;
	font-size: 1.5rem;
	background-color: rgba(255, 255, 255, 0.651);
	border: solid rgb(180, 180, 0);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}