// Place all the styles related to the select_en_language controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//select_en_header
$breakpoints: (
	m: "only screen and (max-width: 980px)",
	pc: "only screen and (max-width: 1199px)",
);
@mixin media($breakpoint) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}


//select_en_message
.select_en_background {
	position: relative;
	width: 100vw;
	height: 100vh;
	left: 0%;
	top: 0%;
	filter: opacity(70%);
}
//select_en_message
//select_en_message_@mixin

.select_en_message {
	//background-color: red;
	width: 100%;
}
@mixin select_en_message($position,$font_size,$font_color) {
	position: absolute;
	top: $position;
	font-size: $font_size;
	color: $font_color;
	width: 100%;
	left: 0%;
	text-align: center;
}
.select_en_main_message {
	@include select_en_message(26%,5vh,rgb(255, 0, 0));
	@include media(m) {
		@include select_en_message(16%,2.5vh,red);
	};
	
}

.select_en_sub_message {
	@include select_en_message(33%,2.5vh,rgba(255, 0, 0, 0.753));
	@include media(m) {
		@include select_en_message(20%,2vh,rgba(255, 0, 0, 0.753));
	};
}

.select_en_main_message::before {
	content:"";
	text-align: center;
	width: 70%;
	margin: 0 auto;
	left: 15%;
	height:2px;
  background-color: rgb(255, 0, 0);
	position:absolute;
	top:95%;
	@include media(m) {
		top: 100%;
		width: 90%;
		left: 5%;
	};
}
//select_en_path_@mixin
@mixin select_en_path($z) {
	position: absolute;
	top: 85%;
	width: 13%;
	height: 5%;
	z-index: $z;
	border-right: solid 4px rgb(46, 46, 46);
	border-bottom: solid 4px rgb(46, 46, 46);
}
.login_en_path {
	@include select_en_path(1);
	left: 25%;
}

.login_en_click_path {
	@include select_en_path(0);
	left: 25%;
}

.registration_en_path {
	@include select_en_path(1);
	right: 25%;
}

.registration_en_click_path {
	@include select_en_path(0);
	right: 25%;
}
/*
.no_login_en_path {
	@include select_en_path(72%,1);
}

.no_login_click_en_path {
	@include select_en_path(72%,0);
}*/
//lハンバーグメニューレイアウト（英語）

en_nov_toggle {
	display: block;
	position: relative;
	width: 1.75rem;
	height: 1.5rem;
}

.en_nav_toggle i {
	display: block;
	width: 5%;
	height: 4px;
	right: 3%;
	background-color: rgb(255, 0, 0);
	position: absolute;
	transition: transform .5s, opacity .5s;
}
.en_nav_toggle i:nth-child(1) {
	top: 30%;
}
.en_nav_toggle i:nth-child(2) {
	top: 0;
	bottom: 0;
	margin: auto;
}
.en_nav_toggle i:nth-child(3) {
	bottom: 30%;
}

.en_nav_toggle.show i:nth-child(1) {
	transform: translateY(10px) rotate(-45deg);
}
.en_nav_toggle.show i:nth-child(2) {
	opacity: 0;
}
.en_nav_toggle.show i:nth-child(3) {
	transform: translateY(-12px) rotate(45deg);
}

.en_nav {
	position: fixed;
	top: 3rem;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 1rem;
	opacity: 0;
	visibility: hidden;
	transition: opacity .5s, visibility .5s;
	z-index: 3;
}
.en_nav.show {
	opacity: 1;
	visibility: visible;
	z-index: 3;
}

.en_nav_menu_li {
	position: absolute;
	top: 25%;
	right: 25%;
	width: 50%;
	height: 20%;
	font-size: 1.5rem;
	background-color: rgba(255, 255, 255, 0.651);
	border: solid rgba(255, 0, 0, 0.438);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

