// Place all the styles related to the select_jp_language controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.select_jp_background {
	position: relative;
	width: 100vw;
	height: 100vh;
	left: 0%;
	top: 0%;
}

.select_jp_main_message {
	position: absolute;
	top: 14%;
	width: 35%;
	font-size: 40px;
	margin: auto;
	left: 0;
	right: 0;
	color: navy;
	font-weight: bold;
	display: block;
	text-align: center;
}

.select_jp_sub_message {
	position: absolute;
	top: 21%;
	width: 30%;
	font-size: 20px;
	margin: auto;
	left: 0;
	right: 0;
	letter-spacing: 0.1em;
	color: navy;
	border-top: solid navy;
	font-weight: bold;
	display: block;
	text-align: center;
}

.login_jp_path {
	position: absolute;
	top: 85%;
	left: 15%;
	width: 15%;
	height: 5%;
	z-index: 1;
	border-right: solid 4px rgb(46, 46, 46);
	border-bottom: solid 4px rgb(46, 46, 46);
}

.login_jp_click_path {
	position: absolute;
	top: 85%;
	left: 15%;
	width: 15%;
	height: 5%;
	z-index: 0;
	border-right: solid 4px rgb(46, 46, 46);
	border-bottom: solid 4px rgb(46, 46, 46);
	filter: opacity(0%);
}

.registration_jp_path {
	position: absolute;
	left: 42%;
	top: 85%;
	width: 15%;
	height: 5%;
	border-right: solid 4px rgb(46, 46, 46);
	border-bottom: solid 4px rgb(46, 46, 46);
	z-index: 1;
}

.registration_jp_click_path {
	position: absolute;
	left: 42%;
	top: 85%;
	width: 15%;
	height: 5%;
	border-right: solid 4px rgb(46, 46, 46);
	border-bottom: solid 4px rgb(46, 46, 46);
	filter: opacity(0%);
	z-index: 0;
}

.no_login_jp_path {
	position: absolute;
	top: 85%;
	right: 15%;
	width: 15%;
	height: 5%;
	border-right: solid 4px rgb(46, 46, 46);
	border-bottom: solid 4px rgb(46, 46, 46);
	z-index: 1;
}

.no_login_click_jp_path {
	position: absolute;
	top: 85%;
	right: 15%;
	width: 15%;
	height: 5%;
	border-right: solid 4px rgb(46, 46, 46);
	border-bottom: solid 4px rgb(46, 46, 46);
	filter: opacity(0%);
	z-index: 0;
}