// Place all the styles related to the select_jp_language controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//select_main
.select_jp_background {
	position: relative;
	width: 100vw;
	height: 100vh;
	left: 0%;
	top: 0%;
	filter: opacity(80%);
}
//select_main_message
//select_jp_message_@mixin
@mixin select_jp_message($position,$font_size) {
	position: absolute;
	top: $position;
	text-align: center;
	font-size: $font_size;
	width: 100%;
	left: 0%;
	color: blue;
}
.select_jp_main_message {
	@include select_jp_message(25%,6vh);
}
//
.select_jp_sub_message {
  @include select_jp_message(33%,3vh);
}

.select_jp_sub_message::before {
	content:"";
	text-align: center;
	width: 50%;
	//min-width: 80%;
	left: 25%;
	height:2px;
  background-color: blue;
	position:absolute;
  top:2px;
}

//select_jp_path_@mixin
@mixin select_jp_path($z) {
	position: absolute;
	top: 85%;
	width: 13%;
	height: 5%;
	z-index: $z;
	border-right: solid 4px rgb(46, 46, 46);
	border-bottom: solid 4px rgb(46, 46, 46);
}
.login_jp_path {
	@include select_jp_path(1);
	left: 25%;
}

.login_jp_click_path {
	@include select_jp_path(0);
  left: 25%;
	filter: opacity(0%);
}

.registration_jp_path {
	@include select_jp_path(1);
	right: 25%;
}

.registration_jp_click_path {
	@include select_jp_path(0);
	filter: opacity(0%);
	right: 25%;
}

/*
.no_login_jp_path {
	@include select_jp_path(72%,1);
}

.no_login_click_jp_path {
	@include select_jp_path(72%,0);
	filter: opacity(0%);
}*/