// Place all the styles related to the select_en_language controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.en_header {
	position: absolute;
	width: 80%;
	height: 5%;
	padding: 2% 10% 3%;
	z-index: 1;
	background-color: transparent;
	display: flex;
	align-items: center;
	border-bottom: thick double rgba(255, 0, 0, 0.438);
	text-decoration: none;
}

.select_en_icon {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 15%;
	height: 100%;
	height: 100%;
}

.select_en_2_icon  {
	position: absolute;
	top: 0%;
	left: 40%;
	width: 15%;
	height: 100%;
	height: 100%;
}

.en_aaa {
	text-decoration: none;
	color: red;
}

.header_title {
	position: absolute;
	left: 0%;
	z-index: 1;
	height: 2%;
	text-decoration: none;
}

.header_menu {
	position: absolute;
	z-index: 1;
	right: 2%;
	height: 2%;
	display: block;
	text-decoration: none;
}

.header_quest {
	position: absolute;
	margin: 1px;
	right: 80%;
}

.top_logout_path {
	position: absolute;
	position: fixed;
	top: 10%;
	right: 5%;
	padding: 1%;
	z-index: 1;
	margin: 1px;
	background-color: transparent;
}
.top_fil {
	filter: blur(3px);
}

.select_en_background {
	position: relative;
	width: 100vw;
	height: 100vh;
	left: 0%;
	top: 0%;
}

.select_en_main_message {
	position: absolute;
	top: 15%;
	width: 80%;
	height: 20%;
	font-size: 40px;
	margin: auto;
	left: 0;
	right: 0;
	letter-spacing: 0.01em;
	color: red;
	font-weight: bold;
	display: block;
	text-align: center;
}

.select_en_sub_message {
	position: absolute;
	top: 21%;
	left: 20%;
	height: 20%;
  width: 80%;
	font-size: 20px;
	margin: auto;
	left: 0;
	right: 0;
	color: red;
	border-top: solid red;
	font-weight: bolder;
	display: block;
	text-align: center;
}

.login_en_path {
	position: absolute;
	top: 85%;
	left: 15%;
	width: 20%;
	height: 7%;
	z-index: 1;
	border-right: solid 4px rgb(46, 46, 46);
	border-bottom: solid 4px rgb(46, 46, 46);
}

.login_en_click_path {
	position: absolute;
	top: 85%;
	left: 15%;
	width: 20%;
	height: 7%;
	z-index: 0;
	border-right: solid 4px rgb(46, 46, 46);
	border-bottom: solid 4px rgb(46, 46, 46);
}

.registration_en_path {
	position: absolute;
	left: 40%;
	top: 85%;
	width: 20%;
	height: 7%;
	border-right: solid 4px rgb(46, 46, 46);
	border-bottom: solid 4px rgb(46, 46, 46);
	z-index: 1;
}

.registration_en_click_path {
	position: absolute;
	left: 40%;
	top: 85%;
	width: 20%;
	height: 7%;
	border-right: solid 4px rgb(46, 46, 46);
	border-bottom: solid 4px rgb(46, 46, 46);
	filter: opacity(0%);
	z-index: 0;
}

.no_login_en_path {
	position: absolute;
	top: 85%;
	right: 15%;
	width: 20%;
	height: 7%;
	border-right: solid 4px rgb(46, 46, 46);
	border-bottom: solid 4px rgb(46, 46, 46);
	z-index: 1;
}

.no_login_click_en_path {
	position: absolute;
	top: 85%;
	right: 15%;
	width: 20%;
	height: 7%;
	border-right: solid 4px rgb(46, 46, 46);
	border-bottom: solid 4px rgb(46, 46, 46);
	filter: opacity(0%);
	z-index: 0;
}

en_nov_toggle {
	display: block;
	position: relative;
	width: 1.75rem;
	height: 1.5rem;
}

.en_nav_toggle i {
	display: block;
	width: 5%;
	height: 2px;
	right: 3%;
	background-color: rgba(255, 0, 0, 0.438);
	position: absolute;
	transition: transform .5s, opacity .5s;
}
.en_nav_toggle i:nth-child(1) {
	top: 30%;
}
.en_nav_toggle i:nth-child(2) {
	top: 0;
	bottom: 0;
	margin: auto;
}
.en_nav_toggle i:nth-child(3) {
	bottom: 30%;
}

.en_nav_toggle.show i:nth-child(1) {
	transform: translateY(10px) rotate(-45deg);
}
.en_nav_toggle.show i:nth-child(2) {
	opacity: 0;
}
.en_nav_toggle.show i:nth-child(3) {
	transform: translateY(-12px) rotate(45deg);
}

.en_nav {
	position: fixed;
	top: 3rem;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 1rem;
	opacity: 0;
	visibility: hidden;
	transition: opacity .5s, visibility .5s;
	z-index: 3;
}
.en_nav.show {
	opacity: 1;
	visibility: visible;
	z-index: 3;
}

.en_nav_menu_li {
	position: absolute;
	top: 25%;
	right: 25%;
	width: 50%;
	height: 20%;
	background-color: rgba(255, 255, 255, 0.651);
	border: solid rgba(255, 0, 0, 0.438);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

