// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.session_en_background {
	position: relative;
	width: 100vw;
	height: 100vh;
	top: 0%;
	left: 0%;
	filter: opacity(40%);
}

.sessions_form {
	position: absolute;
	width: 60%;
  height: 70%;
  margin: 60px auto 0;
  border-radius: 10px;
	border: double rgb(255, 255, 255);
	background-color: rgb(206, 224, 245);
	top: 5%;
	left: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	filter: opacity(90%);
}

.session_message {
	position: absolute;
	font-size: 20px;
	border-bottom: groove rgb(153, 153, 255);
	top: 10%;
	display: flex;
	text-align: center;
}

.email_field {
	position: absolute;
	top: 30%;
	left: 25%;
	width: 60%;
}

input[type="email"] {
	width: 80%;
	height: 80%;
	border-radius: 10px;
}


.password_field {
	position: absolute;
	top: 50%;
	left: 25%;
	width: 60%;
}

input[type="email"] {
	width: 80%;
	height: 80%;
	border-radius: 10px;
}

.remember_field {
	position: absolute;
	top: 70%;
	left: 25%;
	width: 60%;
}

.login_form {
	position: absolute;
	top: 85%;
	left: 45%;
}

.error{
  display:none;
  position:absolute;
  top:-60px;
  font-size:12px;
  background-color:rgba(255,0,0,0.7);
  color:#fff;
  padding:10px;
  text-align:center;
}
.error::before{
  content:"";
  position:absolute;
  bottom:-10px;
  left:10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 6px 0 6px;
  border-color: rgba(255,0,0,0.7) transparent transparent transparent;
}


/*.email_error {
	position: absolute;
	top: 30%;
	left: 38%;
	width: 60%;
	color: red;
	filter: opacity(0);
}

.email_error2 {
	filter: opacity(100);
}

.email_error3 {
	color: navy;
}*/